<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="home.saket"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/databaseicon">
        <activity android:name=".SplashScreen"
                  android:label="@string/app_name" android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="NewUserActivity"></activity>
	<activity android:name="UserLoggedInPage"></activity>
	<activity android:name="AdminPage"></activity>
	
<activity android:name="DatabaseActivity"></activity>
</application>
    <uses-sdk android:minSdkVersion="8" />

</manifest> 